.appsw_AppSwitcher {
    display: inline-block;
    margin: 0 1rem;
    font-size: $font-size-small;
    
    &__content {
        width: 32rem;
        height: 95%;
        margin-top: 0.25rem;
        padding: 24px;
        background-color: $navsidebar-bg;
        color: $header-text-color;
        display: flex;
        margin-left: -1rem;
        flex-direction: column;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.04), 0px 1px 14px rgba(0, 0, 0, 0.02), 0px 3px 5px -1px rgba(0, 0, 0, 0.08);
        z-index: 10000;
        border-radius: 4px;
        position: fixed;
        left: 10px;
        top: -3px;
        width: 100%;
        height: 100%;
    }

    &__toggle-button {
        width: 3rem;
        height: 3rem;
        padding: 0;
        display: flex;
        border: 0;
        background: $navtopbar-bg;
        border-radius: $border-radius-default;

        &:hover {
            background: $navtopbar-bg-hover;
        }
    }
}

@media (min-width: 480px) {
    .appsw_AppSwitcher {
        &__content {
            width: auto;
            height: 700px;
            left: auto;
            top: auto;
        }

        &--sidebar-left {
            .appsw_AppSwitcher__content {
                position: fixed;
                left: 10px;
                top: -2px;
                width: 320px;
                height: 100%;
                border-radius: 0;
            }
        }
    }
}
